# Build outputs
bin/
obj/
out/

# User-specific files
*.user
*.suo
.vscode/
.vs/

# Logs
*.log

# ASP.NET user secrets
secrets.json

# Ignore only environment-specific versions
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
.env
